/*
    styles.css

    Used for Taniti Island site

    author: Brandon Jenkins
*/
:root {
    --font: Oxygen, sans-serif;
    --black-font: black;
    --white-font: rgb(233, 253, 255);
    --green-font: rgb(219, 249, 219);
    --blue-overlay: rgba(131, 155, 177, 0.9);
    --green-overlay: rgba(170, 208, 170, 0.9);
    --nav-overlay: rgba(131, 155, 177, 0.85);
    --hover-overlay: rgba(200, 247, 200, .85);
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}

.smallCaps {
    font-variant: small-caps;
    font-size: 1.2em;
}

.leftAlign {
    text-align: left;
    align-self: flex-start;
}

.rightAlign {
    text-align: right;
    align-self: flex-end;
}

.two-col {
    display: flex;
    justify-content: center;
}

hr {
    margin: 0 5rem;
    border: 1px solid black;
}

body {    
    background-image: url(./assets/island.webp);
    background-size: cover;
    font-family: var(--font);
}

h1 {
    padding: 1rem 1.5rem;
    font-variant: small-caps;
    font-size: 3em;
    font-weight: 400;
    letter-spacing: 0.2em;
    text-shadow: 4px 2px 12px var(--green-font);
}

h2 {
    font-size: 2em;
    letter-spacing: 0.1em;
    margin: 2rem 0;
}

h2 span {
    letter-spacing: 0.2em;
}

header {
    display: flex;
    align-items: center;
    margin: 1rem;
    background-color: var(--nav-overlay);
}

nav {
    width: 100%;
}

nav ul {
    display: flex;
    justify-content: space-around;
}

nav li, #landing li, #stay li, #faq li {
    list-style: none;
    align-items: center;
}

nav li a, #landing li a, #stay li a {
    color: black;
    text-decoration: none;
    font-size: 1.5em;
    letter-spacing: 0.1em;
}

nav li a {
    padding: 0 1em;
}

nav li a:hover, .current {
    color: var(--green-font);
    text-shadow: 8px 2px 18px black;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem;
}

#landing, #dining, #entertainment, #gettingThere {
    background-color: var(--blue-overlay);
}

#stay, #grocery, #sightseeing, #there, #faq {
    background-color: var(--green-overlay);
}

#landing, #stay, #faq {
    margin: 5rem;
}

#sightseeing, #entertainment, #gettingThere, #there {
    margin: 0 5rem;
}

#grocery, #dining, #sightseeing, #gettingThere {
    margin-top: 5rem;
}

#dining, #grocery, #entertainment, #there {
    margin-bottom: 5rem;
}

#landing p, #stay p {
    margin: 3rem 0;
    padding: 0 10rem;
    font-size: 1.45em;
    letter-spacing: 0.05em;
    line-height: 1.5em;
}

#landing ul, #stay ul, #faq ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    margin: 3rem;
    padding: 0rem;
}

#landing li a {
    display: flex;
    flex-direction: column;
    width: 10em;
    gap: 0.5em;
    padding: 2em 0;
    border: 1px solid var(--green-font);
    text-align: center;
}

#landing li a:hover, #stay li a:hover {
    background-color: var(--hover-overlay);
    border: 1px solid transparent;
}

#stay li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 18em;
    text-align: center;
    font-size: 1.5em;
    letter-spacing: 0.05em;
    gap: 1em;
    padding: 2em;
    border: 1px solid black;
    background-color: var(--blue-overlay);
}

#stay li em, #stay li a {
    font-size: 0.9em;
}

#stay li a {
    border: 1px solid var(--green-overlay);
    border-radius: 0.25em;
    padding: 0.5em 1em;
}

#grocery, #dining {
    width: 50%;
}

#dining {
    margin-left: 5rem;
}

#grocery {
    border-left: 1px solid black;
    margin-right: 5rem;
}

#grocery .two-col {
    gap: 5em;
}

#grocery h2, #dining h2, #sightseeing h2, #entertainment h2, #gettingThere h2, #there h2 {
    align-self: flex-start;
}

#dining h2, #grocery h2 {
    margin-bottom: 3rem;
}

.store, .restaurant {
    font-size: 1.5em;
    letter-spacing: 0.1em;
}

.restaurant {
    line-height: 3rem;
}

#grocery p {
    text-align: center;
}

#grocery p, #dining p, #entertainment p, #sightseeing p {
    font-size: 1.15rem;
    letter-spacing: 0.05rem;
}

#grocery .two-col {
    margin: 3rem 0;
}

#sightseeing .two-col, #entertainment .two-col, #gettingThere .two-col, #there .two-col {
    gap: 5rem;
    align-items: center;
}

#sightseeing img {
    margin: 0 6rem;
}

#gettingThere p, #there p {
    font-size: 1.25rem;
    letter-spacing: 0.05rem;
}

#entertainment img, #gettingThere img, #sightseeing p {
    margin-left: 5rem;
}

#entertainment img, #there img {
    margin-right: 5rem;
}

#faq li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20em;
    gap: 1em;
    padding: 1em;
    font-size: 1.1em;
    letter-spacing: 0.05em;
    text-align: center;
    border: 1px solid black;
    background-color: var(--blue-overlay);
}

#faq li img {
    margin: 0.5em;
}